[server]
host = "127.0.0.1"

[db]
driver = "postgresql"
dsn = "postgres://{{ postgres_user }}:{{ postgres_password }}@postgres:5432/{{ postgres_db }}?sslmode=disable"

[jwt]
access_signing_key = "{{ jwt_access_signing_key }}"
refresh_signing_key = "{{ jwt_refresh_signing_key }}"

[admin]
initial_password = "{{ admin_password }}"
