debug = false
post_key_length = 16

[server]
host = "0.0.0.0"
port = 7330
public_url = "{{ public_url }}"
trusted_proxies = {{ trusted_proxies }}

[db]
driver = "sqlite"
dsn = "file:./data/db.sqlite3?_foreign_keys=on&_journal_mode=WAL"

[jwt]
access_signing_key = "{{ jwt_access_signing_key }}"
refresh_signing_key = "{{ jwt_refresh_signing_key }}"
access_token_expire = "24h"
refresh_token_expire = "720h"

[post]
title_max_length = 500
body_max_bytes = 1048576
retention_days = 30

[cors]
allow_origins = ["*"]
allow_headers = ["Content-Type", "Authorization", "X-OAuth-State"]

[ratelimit]
per_second = 5
burst = 50

