services:
  markpost:
    image: {{ registry | default('192.168.5.50:5000') }}/markpost:{{ image_tag }}
    container_name: {{ app_name }}
    ports:
      - "8089:7157"
    volumes:
      - {{ config_file }}:/app/markpost.toml:ro
      - {{ app_path }}/data:/app/data
    environment:
      - MARKPOST_DEBUG=false
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://127.0.0.1:7157/api/v1/health"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s
    restart: always
