{
    local_certs
}

localhost:2053, app:2053 {
    tls internal

    encode zstd gzip

    handle /api/v1/* {
        reverse_proxy 127.0.0.1:7330
    }

    handle /static/* {
        reverse_proxy 127.0.0.1:7330
    }

    handle /swagger/* {
        reverse_proxy 127.0.0.1:7330
    }

    handle /mpk-* {
        reverse_proxy 127.0.0.1:7330
    }

    handle /p-* {
        reverse_proxy 127.0.0.1:7330
    }

    handle {
        root * /app/frontend
        @noExt {
            not file
            path_regexp ^/([^.]+)$
        }
        rewrite @noExt /{http.regexp.1}.html
        file_server
    }

    log {
        output stderr
        format console
    }
}

:8080 {
    encode zstd gzip

    handle /api/v1/* {
        reverse_proxy 127.0.0.1:7330
    }

    handle /static/* {
        reverse_proxy 127.0.0.1:7330
    }

    handle /swagger/* {
        reverse_proxy 127.0.0.1:7330
    }

    handle /mpk-* {
        reverse_proxy 127.0.0.1:7330
    }

    handle /p-* {
        reverse_proxy 127.0.0.1:7330
    }

    handle {
        root * /app/frontend
        @noExt {
            not file
            path_regexp ^/([^.]+)$
        }
        rewrite @noExt /{http.regexp.1}.html
        file_server
    }

    log {
        output stderr
        format console
    }
}
