debug = false
post_key_length = 16

[server]
host = "0.0.0.0"
port = 7330
trusted_proxies = ["127.0.0.1", "::1"]
public_url = "https://markpost.cc"

[db]
driver = "postgresql"
dsn = "postgres://{{ postgres_user }}:{{ postgres_password }}@db/markpost?sslmode=disable"

[admin]
initial_username = "markpost"
initial_password = "markpost"

[post]
title_max_length = 200
body_max_bytes = 204800 # 200KB
retention_days = 30

[cors]
allow_origins = ["*"]
allow_headers = ["Content-Type", "Authorization", "X-OAuth-State"]

[oauth.github]
client_id = "{{ github_client_id }}"
client_secret = "{{ github_secret }}"
redirect_url = "https://markpost.cc/ui/login/callback"

[jwt]
access_signing_key = "{{ access_signing_key }}"
refresh_signing_key = "{{ refresh_signing_key }}"
access_token_expire = "24h"
refresh_token_expire = "720h"

[ratelimit]
per_second = 5
burst = 50
