services:
  markpost:
    image: 192.168.5.50:5000/markpost:latest
    container_name: markpost
    ports:
      - "8089:7330"
    volumes:
      - ./config.toml:/app/config.toml
      - ./data:/app/data
    restart: always
    entrypoint: ["/bin/sh", "-c"]
    environment:
      - HOSTNAME=0.0.0.0
    command: ["HOSTNAME=0.0.0.0 node /app/frontend/server.js & /app/markpost -c /app/config.toml"]
